// import styled from 'styled-components';

// export const Heading = styled.h1`
//    text-align: center;
//    color: green;
// `;

// export const Content = styled.div`
//    overflowY: scroll;
//    height: 2500px;
// `;

.scrollBtn{
   position: fixed; 
   left: 90%;
   bottom: 4rem;
   height: 10px;
   overflow-y: scroll;
   z-index: 1;
   cursor: pointer;

}