<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<button id="btn" onclick="count()">0</button>
    <script>

		let button= document.getElementById("btn");
		function count(button){
			console.log("clicked");
		}


        var str = "This is an simple sentence.";
		function extractMiddle(str) {

			var position;
			var length;

			if(str.length % 2 == 1) {
				position = str.length / 2;
				length = 1;
			} else {
				position = str.length / 2 - 1;
				length = 2;
			}

			return str.substring(position, position + length)
		}

		console.log(extractMiddle(str));
    </script>
</body>
</html>