@import "../media-queriey";

$textColor: #db9a64;
$backGroundcolor: #311e25;

body {
  margin: 0;
  padding: 0;
}

.mainHeader {
  background-color: $backGroundcolor;
  font-family: sans-serif;
  color: $textColor;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .mainHeader--menu {
    display: none;
  }
  .mainHeader--nav {
    display: flex;
    justify-content: space-between;
    .mainHeader--nav--link {
      text-decoration: none;
      color: $textColor;
      padding-right: 18px;
      padding-left: 18px;

      text-transform: uppercase;
      .mainHeader--nav--link--submenu {
        display: none;
      }
    }
    .active,
    .mainHeader--nav--link:hover {
      padding-bottom: 1rem;
      border-bottom: 3px solid $textColor;
    }
  }
  .mainHeader--ConnectBtn {
    background-color: #311e2525;
    color: $textColor;
    border: 0.7px solid $textColor;
  }
  .mainHeader--ConnectBtn:hover {
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 5px #311e2525;
    color: white;
    background-color: $textColor;
  }
  .PrivateTabIndicator-colorSecondary-3 {
    background-color: $textColor;
  }

  @mixin header {
    .mainHeader {
      justify-items: center;
      display: grid;
    }
    .mainHeader--menu {
      display: block;
      font-size: 40px;
    }
    .mainHeader--nav,
    .mainHeader--ConnectBtn {
      display: none;
    }
  }

  @include breapoint(mobile) {
    @include header;
  }

  @include breapoint(tablet) {
    @include header;
  }
 
}
