$textColor: #db9a64;
$backGroundcolor: #311e25;
$textWhite: white;
$font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;

.home2 {
  background-color: $backGroundcolor;
  font-family: $font-family;
  padding: 110px 10% 90px 10%;
  flex-wrap: wrap;
  color: $textWhite;
  .home2--information {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .home2--btn {
    color: $textColor;
    padding: 15px 25px 15px 25px;
    margin-top: 10px;
    border: 0.7px solid $textColor;
    border-radius: 0;
  }
  .home2--btn:hover {
    padding: 15px 25px 15px 25px;
    box-shadow: 1px 1px 5px pink;
    color: $textWhite;
    background-color: $textColor;
  }
  .home2--info {
    display: flex;
    justify-content: space-between;
    .home2--info1 {
      width: 55%;
      padding-top: 3rem;
    }
    .home2--info2--marks {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
      .home2--info2--rating {
        padding: 1px;
        padding-right: 2rem;
        background-color: silver;
        border-radius: 2px;
        .home2--info2--rating--inner {
          padding: 2px;
          background-color: $textColor;
        }
         .home2--info2--rating--inner2{
        padding: 2px;
        padding-right: 1rem;
        background-color: $textColor;

      }
      }
    }
  }
