$textColor: #db9a64;
$textWhite: white;
$backGroundcolor: #311e25;
$font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;

.home3{
    background-color: #3b2930;
    padding: 90px 15% 90px 10%;
    cursor: pointer;

    .home3--service{
        color: $textWhite;
        font-size: 40px;
    }
    .home3--cards{
        color: $textWhite;
        border: 1px solid $textColor;
        margin: 2rem;
        padding: 2rem;
        width: 35%;
        display: inline-block;
        text-align: center;
        .home3--cards--header{
            color: $textColor;
        }
    }
    .home3--cards:hover{
        border: 2px solid $backGroundcolor;
        box-shadow: 2px 2px 10px $backGroundcolor;
    }
}
